
.center{
  text-align: center;
}
#main{
  width: 750px;
  margin: 0 auto;
  background: white;
  font-size: 19px;
}

h1{
  line-height: 51px;
  font-size: 38px;
  text-align: center;
  margin: 0px;
  padding-top: 17px;
}
#content{
  min-height: 300px;
  padding: 50px;
}

label{
  color: crimson;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

#content select{
  width: 50%;
  height: 35px;
  font-size: 20px;
  padding: 3px 10px;
  margin-right: 17px;
  border-radius: 4px;
  border: 1px solid #5D3F6A;
  outline: 0;
}

input[type=text] {
      width: 50%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 4px;
    }

  



